# Firebase Key 
yakssok-backend-firebase-adminsdk-fbsvc-15c58432ef.json
*.json

# Python 환경 및 캐시 (공유 불필요)
venv/
.venv/
__pycache__/
*.pyc

# 운영체제 설정 파일 (공유 불필요)
.DS_Store
Thumbs.db

# 빌드 및 IDE 설정 파일 제외
.dart_tool/
.flutter-plugins-dependencies
.idea/
build/
.metadata
*.iml
.pub/
.pub-cache/
.packages
pubspec.lock